{% extends "app/base.html" %}

{% block content %}
  <h2 class="sub-header" id="aggr_event_header">
    Matching Results - [{{ local_distr }} - {{ aggr_event['district'] }}]
  </h2>

  <div class="table-responsive" id="main_table">
    <table class="table table-bordered">
      <thead>
        <tr>
            <th>Network</th>
            <th>Local Attempts</th>
            <th>Remote Attempts</th>
        </tr>
      </thead>
      <tbody>
        {% for network in results %}
            <tr>
              <td>{{ network.0 }}</td>
              <td>{{ network.1 }}</td>
              <td>{{ network.2 }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <h2 class="sub-header" id="aggr_event_header">
    Latest Remote Aggregation: {{ aggr_event['district'] }}
  </h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <tr>
            <th>Index</th>
            <td>{{ aggr_event.meta.index }}</td>
        </tr>
        <tr>
            <th>Document Type</th>
            <td>{{ aggr_event.meta.doc_type }}</td>
        </tr>
        {% for field in aggr_event %}
            {% if not field == "attackers" and not field == "victims" and not field == "cidrs"%}
                <tr>
                    <th>{{ field }}</th>
                    <td>{{ aggr_event[field] }}</td>
                </tr>
            {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if aggr_event.aggregation_type == 'attacker'%}
  <div class="table-responsive" id="main_table">
    <table class="table table-bordered">
      <thead>
        <tr>
            <th colspan="100" style="text-align: center;">
                Attackers
            </th>
        </tr>
        <tr>
          <th>Attacker_ip</th>
          <th>Attempts</th>
          {% if aggr_event.xcheck %}
            <th>Blacklisted</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for attacker in aggr_event['attackers'] %}
            <tr>
              <td>{{attacker['attacker_ip']}}</td>
              <td>{{attacker['attempts']}}</td>
              {% if aggr_event.xcheck %}
                <td>{{attacker['blacklisted']}}</td>
              {% endif %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% elif aggr_event.aggregation_type == 'victim' %}
    {% for victim in aggr_event['victims'] %}
    <div id="victim_container">
        <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>
                    <th>Victim</th>
                    <td>{{ victim.victim_host }}</td>
                </tr>
                <tr>
                    <th>Total Attempts</th>
                    <td>{{ victim.total_attempts }}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="line-separator"></div>
        <div class="table-responsive" id="main_table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="100" style="text-align: center;">
                            Attackers
                        </th>
                    </tr>
                    <tr>
                      {% for field in victim.attackers[0] %}
                        <th>{{ field }}</th>
                      {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for attacker in victim.attackers %}
                        <tr>
                        {% for field in attacker %}
                          <td>{{ attacker[field] }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
  {% endif %}
{% endblock %}