<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/jquery.easypiechart.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chart.css')}}">	
<script type="text/javascript">
	
	/**
 * Built with the jQuery plugin that was born as a result of the great dribble shot
 * http://rendro.github.io/easy-pie-chart/
 **/
$(function(){
	 $('#easy-pie-chart').easyPieChart({
        animate: 1500,
        scaleColor: false,
        lineWidth: 13,
        lineCap: 'butt',
        size: 100,
        trackColor: '#e5e5e5',
        barColor: '#3da0ea'
    });
});

</script>
</head>
<body>
<div class="row">
        <div class="chart" data-percent="55" id="easy-pie-chart">
            <span class="percent">55</span>
</div>
</div> 
</body>
</html>